bin/
build/
*.orig
errors.log
data/levels/*
data/series/*
data/games/*
!data/levels/1.level
!data/levels/2.level
!data/levels/3.level
!data/levels/4.level
!data/levels/5.level
!data/levels/6.level
!data/levels/7.level
!data/series/tutorial.serie
!data/games/fake.game
*.swp
latex/
html/
doxygen_sqlite3.db
core
